.colorButton{
    background-color: rgb(255,0,0); 
    width: 50px; 
    height: 50px;
    border: none;
    border-radius: 50%;
    box-shadow: none;
    margin: 10px;
}
#buttonWrapper{
    width: 100%; /*задаваме ширина */
	display: flex; /*как да се показва на екрана */
	flex-wrap: wrap; /*как да е подредено */
	justify-content: space-around; /*как да е подравнено */
	margin: 0 auto; /*външно отстояние */
}

h1{
	text-align: center; /*централно подравнен текст */
}

#colorValue{
	margin: 0 auto; /*външно отстояние */
	text-align: center; /*центриран тескт */
}
#answer{
	margin: 0 auto;
	text-align: center;
}
 
#reset{
	margin: 0 auto;
	text-align: center;
}
#reset-button{
	padding: 10px;  /*вътрешно отстояние */
	background: none; /*фон */
	border: 1px solid #000; /*плътна рамка с дебелина 1px и черен цвят */
	margin: 10px;
}
